In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv("publicidad.csv")
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [3]:
x1_barra = np.mean(data['TV'])
x2_barra = np.mean(data['Radio'])
y_barra = np.mean(data['Sales'])

print("x1_barra (TV):", x1_barra, "\nx2_barra (Radio):", x2_barra, "\ny_barra (Sales):", y_barra)

x1_barra (TV): 147.0425
x2_barra (Radio): 23.264000000000006
y_barra (Sales): 14.0225

In [4]:
x1_barra = np.mean(data['TV'])
x2_barra = np.mean(data['Radio'])
y_barra = np.mean(data['Sales'])

print("x1_barra (TV):", x1_barra, "\nx2_barra (Radio):", x2_barra, "\ny_barra (Sales):", y_barra)

x1_barra (TV): 147.0425
x2_barra (Radio): 23.264000000000006
y_barra (Sales): 14.0225

In [5]:
suma_xy1 = sum(data['TV'] * data['Sales'])
suma_xy2 = sum(data['Radio'] * data['Sales'])
suma_x1 = sum(data['TV'])
suma_x2 = sum(data['Radio'])
suma_x12 = sum(data['TV'] ** 2)
suma_x22 = sum(data['Radio'] ** 2)
suma_x1x2 = sum(data['TV'] * data['Radio'])

print("suma_xy1 (TV * Sales) =", suma_xy1, "\nsuma_xy2 (Radio * Sales) =", suma_xy2)
print("suma_x1 (TV) =", suma_x1, "\nsuma_x2 (Radio) =", suma_x2)
print("suma_x12 (TV^2) =", suma_x12, "\nsuma_x22 (Radio^2) =", suma_x22)
print("suma_x1x2 (TV * Radio) =", suma_x1x2)

suma_xy1 (TV * Sales) = 482108.34
suma_xy2 (Radio * Sales) = 74126.39
suma_x1 (TV) = 29408.5
suma_x2 (Radio) = 4652.8
suma_x12 (TV^2) = 5791118.39
suma_x22 (Radio^2) = 152107.86
suma_x1x2 (TV * Radio) = 698061.98

In [6]:
A = np.array([[len(data), suma_x1, suma_x2],
              [suma_x1, suma_x12, suma_x1x2],
              [suma_x2, suma_x1x2, suma_x22]])

b = np.array([sum(data['Sales']), suma_xy1, suma_xy2])

print("A =\n", A)
print("\nb =", b)

A =
 [[2.00000000e+02 2.94085000e+04 4.65280000e+03]
 [2.94085000e+04 5.79111839e+06 6.98061980e+05]
 [4.65280000e+03 6.98061980e+05 1.52107860e+05]]

b = [  2804.5  482108.34  74126.39]

In [7]:
invA = np.linalg.inv(A)
x_sol = np.dot(invA, b.T)
print("Coeficientes (a, b1, b2):", x_sol)

Coeficientes (a, b1, b2): [2.92109991 0.04575482 0.18799423]

In [8]:
X = data[["TV", "Radio"]]  # Variables independientes
y = data["Sales"]  # Variable dependiente

rlm = LinearRegression()
rlm.fit(X, y)

coef1 = pd.DataFrame(rlm.coef_, ['TV', 'Radio'], columns=['Coeficientes'])
coef2 = pd.DataFrame(rlm.intercept_, ['Intercepto'], columns=['Coeficientes'])
coeficientes = pd.concat([coef1, coef2], axis=0)
coeficientes

            Coeficientes
TV              0.045755
Radio           0.187994
Intercepto      2.921100