Alumno: Escriba Flores, Daniel Agustin

In [2]:
# Librerias necesarias
import collections as cl
import pandas as pd

In [3]:
dado1 = range(1,7)
print (list(dado1))
dado2 = range(1,7)
print(list(dado2))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [4]:
# sumas posibles obtenidas al lanzar ambos dados

sumaDados = [d1+d2 for d1 in dado1 for d2 in dado2]
print(sumaDados)

[2, 3, 4, 5, 6, 7, 3, 4, 5, 6, 7, 8, 4, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 11, 7, 8, 9, 10, 11, 12]

In [5]:
# Recuento de veces de los valores obtenidos para la suma

suma_contador = cl.Counter(sumaDados) #creamos el objeto Counter

recuento_valores =  suma_contador.most_common() #hacemos  lista el counter

recuento_valores.sort()

recuento_valores

[(2, 1),
 (3, 2),
 (4, 3),
 (5, 4),
 (6, 5),
 (7, 6),
 (8, 5),
 (9, 4),
 (10, 3),
 (11, 2),
 (12, 1)]

In [8]:
# convirtiendo en probabilidades

n=len(sumaDados) #cantidad de numeros obtenidos en los lanzamientos

prob_suma = [[item[0], round(item[1]/n,3)] for item in recuento_valores]

#imprimimos el resultado
columna = ["x","P(X=x)"]
data = pd.DataFrame(prob_suma,columns=columna)
data

     x  P(X=x)
0    2   0.028
1    3   0.056
2    4   0.083
3    5   0.111
4    6   0.139
5    7   0.167
6    8   0.139
7    9   0.111
8   10   0.083
9   11   0.056
10  12   0.028

In [10]:
# Ingresamos las frecuencias
clientes = [10,14,15,12,5,3]
clientes

[10, 14, 15, 12, 5, 3]

In [11]:
# calculamos las probabilidades

n= sum(clientes)

prob_clientes = [round(item/n,3) for item in clientes]

prob_clientes

[0.169, 0.237, 0.254, 0.203, 0.085, 0.051]

In [12]:
# Lista de la categoria de los intervarlos

intervalos = ["<0,2]","(2,4]","(4,6]","(6,8]","(8,10]","(10,12]"]
intervalos

['<0,2]', '(2,4]', '(4,6]', '(6,8]', '(8,10]', '(10,12]']

In [17]:
# Finalmente craeamos el dataframe

data1 = pd.DataFrame(intervalos,columns=["x"])
data2 = pd.DataFrame(prob_clientes,columns=["P(a<x<=b)"])
data3 = pd.concat([data1,data2],axis=1)
data3

         x  P(a<x<=b)
0    <0,2]      0.169
1    (2,4]      0.237
2    (4,6]      0.254
3    (6,8]      0.203
4   (8,10]      0.085
5  (10,12]      0.051

In [19]:
data = pd.DataFrame({"x":intervalos,"P(a<x<=b)":prob_clientes})
data

         x  P(a<x<=b)
0    <0,2]      0.169
1    (2,4]      0.237
2    (4,6]      0.254
3    (6,8]      0.203
4   (8,10]      0.085
5  (10,12]      0.051